# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
*.sqlite3
*.db

# React Native
myApp/node_modules/
myApp/.expo/
myApp/dist/
myApp/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 