
.Navbar{
    
    background-color: rgb(10, 2, 2);
    width: 100%;
    height: 75px;
    display: flex;
    position: relative;
    z-index: 1;
}
.Navbar button{
    margin: 2rem;
    margin-top: 2rem;
    background-color: black;
    color: white;
    font-weight:bold;
    border: none;
}
.Navbar button:hover {
    color: blueviolet;
}